# Ports
FRONT_PORT=3000
BACK_PORT=3001
DB_PORT=5432

# DB
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=nom_de_la_base

# Backend 
DATABASE_URL=postgres://user:password@db:5432/nom_de_la_base

# Front (public)
NEXT_PUBLIC_API_URL=http://localhost:3001