@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand: #0463ca;
  --brand-hover: #0487e2;
  --brand-active: #09b1ec;
  --brand-muted: #77a3d2;
  --border: #d0d0e0;
  --border-muted: #b8b8d0;
  --success: #4daa57;
  --error: #a41623;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-brand-hover: var(--brand-hover);
  --color-brand-active: var(--brand-active);
  --color-brand-muted: var(--brand-muted);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-success: var(--success);
  --color-error: var(--error);
}

body {
  font-family: var(--font-archivo);
  background-color: #f3f7fb;
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
